limma==3.38.3
ggfortify==0.4.7
EnhancedVolcano==1.0.1
ggrepel==0.8.1
cluster==2.1.0
factoextra==1.0.5
mice==3.6.0
VIM==4.8.0
data.table==1.12.2
colorspace==1.4-1
ggord==1.1.4
PerformanceAnalytics==1.5.3
xts==0.11-2
zoo==1.8-6
pheatmap==1.0.12
ggbiplot==0.55
plyr==1.8.4
rpart.plot==3.0.7
rpart==4.1-15
umap==0.2.2.0
tsne==0.1-3
rhandsontable==0.3.7
canvasXpress==1.24.8
corrplot==0.84
bsplus==0.1.1
shinyBS==0.61
heatmaply==0.16.0
viridis==0.5.1
viridisLite==0.3.0
plotly==4.9.0
pROC==1.15.3
doParallel==1.0.14
glmnet==2.0-18
Matrix==1.2-17
xml2==1.2.1
jsonlite==1.6
httr==1.4.1
preprocessCore==1.44.0
htmltools==0.3.6
DT==0.8
sva==3.30.1
BiocParallel==1.16.6
genefilter==1.64.0
mgcv==1.8-28
nlme==3.1-137
scales==1.0.0
RColorBrewer==1.1-2
shinythemes==1.1.2
GA==3.2
iterators==1.0.12
foreach==1.4.7
forcats==0.4.0
stringr==1.4.0
dplyr==0.8.3
purrr==0.3.2
readr==1.3.1
tidyr==0.8.3
tibble==2.1.3
tidyverse==1.2.1
funModeling==1.7
Hmisc==4.2-0
Formula==1.2-3
survival==2.44-1.1
randomForest==4.6-14
caret==6.0-84
ggplot2==3.2.0
lattice==0.20-38
sqldf==0.4-11
RSQLite==2.1.2
gsubfn==0.7
proto==1.0.0
shiny==1.3.2